<%- include('../../fragments/header.ejs')%>
<main>
  <h2>Lista Klinik</h2>
  <p>Brak rekordów do wyświetlenia</p>
  <p><a href="form.ejs" class="button-add">Dodaj nowu kliniku</a> </p>

</main>
<%- include('../../fragments/footer.ejs')%>